[Unit]
Description=Secrets Share
After=network.target

[Service]
Type=simple
User=%USER%
WorkingDirectory=%HOME%/apps/bunfx/secrets-share
ExecStart=%HOME%/.bun/bin/bun start
Restart=on-failure
RestartSec=5
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
